<!DOCTYPE html>
<html>
<head>
    <title>Gif-App</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/b4ded3710b.js"></script>
    <link rel="stylesheet" type="text/css" href="pattern.css">

</head>
<body>
    

    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a href="/"class="navbar-brand"> <i class="fas fa-cat"></i>GIFs</a>
        <form class="form-inline" action="/search" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"name="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
        <section id="header" class="jumbotron text-center">
            <h1 class="display-3">The Gifs Gallery</h1>
            <p class="lead">Trending and New Gif</p>
            
            
        </section>

        
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <% data.forEach(data => { %>
                    <div class="col-lg-4 col-sm-6">
                        <div class="">
                            <iframe src= <%= data.embed_url %> width="360" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

                        </div>

                    </div>
                    <% }) %>
                </div>
            </div>
            
        </section>



        
        
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>